/* demo page styles */
body {
    background:#fafafa;
    margin:0;
    padding:0px 20px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.button {
	background-color:#5B74A8;
	border:1px solid #29447E;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:12px;
	font-weight:700;
	padding:2px 6px;
	height:28px;
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}

