/* demo page styles */
body {
    background: #fafafa;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.button {
    background-color: #5B74A8;
    border: 1px solid #29447E;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 6px;
    height: 28px;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

